<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejercicio D</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- Con dos puntos regresa a la carpeta de origen-->
  </head>
  <body>
    <h1>Ejercicio D</h1>

    <div class="redd">
      <div class="blued"></div>
      <div class="greend"></div>
    </div>

  </body>
</html>
